<div class="p-4">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-6 offset-md-3 content border p-5 bg-light">
                <h1 *ngIf="isAddMode">Add favorite account</h1>
                <h1 *ngIf="!isAddMode">Edit favorite account</h1>
                <hr/>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="accountName">Account name</label>
                            <input type="text" formControlName="accountName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.accountName.errors }" />
                            <div *ngIf="submitted && f.accountName.errors" class="invalid-feedback">
                                <div *ngIf="f.accountName.errors.required">Account name is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="accountNumber">Account number</label>
                            <input type="text" formControlName="accountNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.accountNumber.errors }" (change)="addBankName($event)" />
                            <div *ngIf="submitted && f.accountNumber.errors" class="invalid-feedback">
                                <div *ngIf="f.accountNumber.errors.required">Account number is required</div>
                                <div *ngIf="f.accountNumber.errors.maxlength">Account number must not be more than 20 characters</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="bank">Bank</label>
                            <input type="text" formControlName="bank" class="form-control" disabled />
                            <!-- <div *ngIf="submitted && f.bank.errors" class="invalid-feedback">
                        <div *ngIf="f.bank.errors.required"> </div>
                    </div> -->
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-primary">
                            Save
                        </button>
                        <a routerLink="/" class="btn btn-link">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>