.loginForm{
  max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 60px;
    background: #f5f5f5;
    border-radius: 10px;
    /* transform: translatey(70%); */
    margin: auto;
}

.login{
  background: #e2e2e2;
  display: flex;
  height: 100vh;
}

.danger{
  background: #f19d9d;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}