<div class="login">
    <div class="loginForm">

    
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="customerId">customerId</label>
                <input type="text" formControlName="customerId" class="form-control" [ngClass]="{ 'is-invalid': f.customerId.dirty && f.customerId.errors }" />
                <div *ngIf="f.customerId.dirty && f.customerId.errors" class="invalid-feedback">
                    <div *ngIf="f.customerId.errors.required">customerId is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': f.password.dirty && f.password.errors }" />
                <div *ngIf="f.password.dirty && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">
                    <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> -->
                    Login
                </button>
                <a routerLink="/" class="btn btn-link">Register</a>
            </div>
            <div *ngIf="submitted && !isValidUser" class="danger">
                    <div >Credentials are not valid</div>
                </div>
        </form>
        </div>
        
</div>