<!-- <div class="middle-container">
    <h4>Favorite Accounts</h4>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center active">
          <strong>Bank Name</strong>
          <span>Bank Code</span>
        <span class="">Actions</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of bankList">
          <strong>{{item.bankName}}</strong>
          <span>{{item.bankCode}}</span>
        <span class="badge badge-primary badge-pill">Edit</span>
      </li>
    
    </ul>

    </div> -->

 <div class="middle-container">
    <div style="text-align:center">
        <h4>Favorite Accounts</h4>
        <p class="badge badge-primary badge-pill" routerLink="/add-account">Add Account</p>
        <table class="table">
          <thead>
            <tr>
                <th>#</th>
              <th scope="col">Bank Name</th>
              <th scope="col">Bank Code</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of bankList| paginate: config ; let i =index;">
              <td>{{i}}</td>
              <td scope="row">{{item.accountName}}</td>
              <td>{{item.accountNumber}}</td>
              <td (click)="editAccount(item.id)"><span class="badge badge-primary badge-pill">Edit</span></td>
            </tr>
          </tbody>
        </table>
      
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      
      </div>

 </div>

