.badge-primary{
    padding: 6px 20px;
    cursor: pointer;
}
.middle-container{
    margin-top: 110px;
    border: #dee2e6 solid 1px;
    border-radius: 10px;
    background-color:#f8f9fa;
}
h4{
    padding: 15px;
}